.placeholder-item::after {
  content: '.';
  visibility: hidden;
}

.placeholder-item {
  background: #eeeeee;
  width: 80%;
}

.placeholder-item--half {
  width: 50%;
}

.placeholder-item--avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
